{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
   <a href="{%url 'topwear' %}" class="list-group-item list-group-item-action" aria-current="true">All topwears</a>
   <a href="{%url 'topweardata' 'above' %}" class="list-group-item list-group-item-action" aria-current="true"> >500 </a>
   <a href="{%url 'topweardata' 'below' %}" class="list-group-item list-group-item-action" aria-current="true"> <500 </a>
  </div>
  <div class="col-sm-8 offset-sm-1">
   <div class="row">
    {% for Product in topwears %}
      <div class="col-sm-4 text-center mb-4">
        <a href="{% url 'product-detail' Product.id %}" class="btn">
         <div class="item">
          <img src="{{Product.product_image.url}}" alt="" height="250" class="">
          <div class="fw-bold">{{Product.title}}</div>
          <div class="fw-bold">Rs.{{Product.discounted_price}}
          <small class="fw-light text-decoration-line-through">{{Product.selling_price}}</small></div>
         </div>
        </a>
      </div>
    {% endfor %}
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}